name: Backend CI/CD with SHA Tag

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set commit SHA as image tag
      id: vars
      run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build and Push Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/todo-backend:${{ env.TAG }} ./backend
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/todo-backend:${{ env.TAG }}

    - name: SSH and Deploy to K3s
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          kubectl set image deployment/backend-api backend-api-container=${{ secrets.DOCKERHUB_USERNAME }}/todo-backend:${{ env.TAG }} -n default
          kubectl rollout status deployment/backend-api -n default
